.navBar {
  width: 100%;
  min-height: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  background-color: #f4f6fb52;
  font-weight: 600;
  box-shadow: 0 5px 10px #e1e5ee;
  div {
    align-self: center;
    justify-self: center;
  }
}
