.loginSection {
  width: 100%;
  min-height: 95vh;
  display: grid;
  .signUpSection {
    width: 80%;
    height: 50%;
    align-self: center;
    justify-self: center;
    h1 {
      text-align: center;
    }
    form {
      display: grid;
      place-items: center;
      input {
        width: 70%;
        height: 2.4rem;
        font-size: 1rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        box-shadow: 0 5px 10px #d1d9ec;
        padding-left: 0.5rem;
      }
    }
    input[type="submit"] {
      width: 50%;
      height: 2.4rem;
      font-size: 1rem;
      margin: 1rem;
      cursor: pointer;
      border-radius: 0.25rem;
      border: none;
      background-color: transparent;
      box-shadow: 0 5px 10px #d1d9ec;
    }
    input[type="submit"]:hover {
      background-color: #65e469;
      color: white;
      border: none;
    }
    button {
      border: none;
      background: none;
      cursor: pointer;
      color: rgb(0, 119, 255);
    }
    input:focus {
      outline: none;
    }
  }
  .bannerSection {
    background-image: url(../../pics/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 80em) {
  .loginSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
